<%= javascript_include_tag 'index', :plugin => "erpmine_resident" %>
<h2><%= l(:label_apartment) %></h2>
<%= javascript_tag do %>
  var apartmentUrl = '<%= url_for(controller: "rmapartment", action: "index", tab: "rmapartment") %>';     
  var residentUrl = '<%= url_for(controller: "rmresident", action: "index", tab: "rmresident") %>';
  var performserviceUrl = '<%= raw url_for(controller: :rmperformservice, action: :edit, user_id: User.current.id, startday: Date.today, sheet_view: 'I' ) %>';
<% end %>

<%= render_tabs resident_tabs %>
<%= hidden_field_tag 'back_url', url_for(:controller => params[:controller], :action => params[:action])%>
<%= render :partial => 'wkproductitem/product_item_index'%>