<% if !@resObj.blank? %>
	<% if !@resObj.getCurrentResidentStatus.blank? %>
		<% if @resObj.type == "RA" %>
			<div style="clear:both;"></div>
			<div class="splitcontentleft" style="margin-top:-60px;">
			<fieldset class="box tabular" >
				<legend><%= l(:label_apartment_details) %></legend>
				<%  apartmentName = ""
					bedName = ""
					moveInDate = ""
					moveOutDate = ""			
					unless @resObj.blank?
						apartmentName = @resObj.apartment.asset_property.name unless @resObj.apartment.blank?
						bedName = @resObj.bed.asset_property.name unless @resObj.bed.blank?
						moveInDate = @resObj.move_in_date
						moveOutDate = @resObj.move_out_date					
					end
				%>
				<table>
					<tr>
						<th style="text-align:left;"><%= l(:label_apartment) %></th>
						<td style="text-align:left;" style="padding-left:40px;">
							<%= apartmentName %>
						</td>
						<th style="text-align:left;"><%= l(:label_move_in_date) %></th>
						<td style="text-align:left;" >
							<%= moveInDate.strftime('%F') %>
						</td>
						<td>
							<%= link_to l(:label_transfer), url_for(:controller => "rmresident", :action => "movein", :tab => "rmresident", :lead_id => nil, :resident_id => @resObj.getCurrentResidentStatus[0].id, :res_action => "T", resident_type_id: @resObj.resident_id, resident_type: @resObj.resident_type),  :class=> "buttons", :style=> "padding-left:40px;  margin-top:220px;" %>
						</td>
						<td>
						<%= link_to l(:label_move_out), url_for(:controller => "rmresident", :action => "movein", :tab => "rmresident", :lead_id => nil, :resident_id => @resObj.getCurrentResidentStatus[0].id, :res_action => "MO", resident_type_id: @resObj.resident_id, resident_type: @resObj.resident_type),  :class=> "buttons", :style=> "padding-left:40px;  margin-top:220px;" %>
						</td>
					</tr>
					<tr>
					<% unless @resObj.getCurrentResidentStatus[0].bed.blank? %>
					
						<th style="text-align:left;"><%= l(:label_bed) %></th>
						<td style="text-align:left;" style="padding-left:40px;"><%= bedName  %></td>
					<% else %>
						<th style="text-align:left;"></th>
						<td style="text-align:left;" style="padding-left:40px;"></td>
					<% end %>
					<% unless moveOutDate.blank?  %>
						<th style="text-align:left;"><%= l(:field_move_out_date) %></th>
						<td style="text-align:left;"><%= moveOutDate.strftime('%F')  %></td>
					<% end %>
					</tr>
				</table>
				
			</fieldset>
			</div>
			<div style="clear:both;"></div>
		<% end %>
	<% else %>
		<%
			wktime_helper = Object.new.extend(WktimeHelper)
			host_with_subdir = wktime_helper.getHostAndDir(request)
		%>
		<div style="float:left;padding-right: 5px;">
		<%= button_tag(l(:button_move_in), type: 'button', onclick: "window.location.href='#{url_for(controller: "rmresident", action: "movein", host: host_with_subdir, only_path: true, tab: "rmresident", lead_id: nil, resident_type_id: @resObj.resident_id, resident_type: @resObj.resident_type, res_action: "MI")}'") %>
		</div>
	<% end %>
<% end %>