<%
	WkCrmContact.class_eval do
		has_many :resident_services, as: :resident, :dependent => :restrict_with_error, :class_name => 'RmResidentService'
		has_many :residents, as: :resident, :dependent => :restrict_with_error, :class_name => 'RmResident'
		scope :current_move_out_resident, -> {joins(:residents).merge(RmResident.current_move_out_resident)}
		
		has_many :spent_fors, as: :spent_for, :dependent => :restrict_with_error, :class_name => 'WkSpentFor'
		has_many :beds, through: :residents
		has_many :apartments, through: :residents
		#scope :current_resident, -> {joins(:residents).merge(RmResident.current_resident)}
	end
%>
<% if !contactObj.blank? %>
<% if !contactObj.residents.current_move_out_resident[0].blank? %>
	<% if contactObj.contact_type == "RA" %>
	<div style="clear:both;"></div>
	<div class="splitcontentleft" style="margin-top:-60px;">
	<fieldset class="box tabular" >
		<legend><%= l(:label_apartment_details) %></legend>
		<%  apartmentName = ""
			bedName = ""
			moveInDate = ""
			moveOutDate = ""
			apartmentName = contactObj.residents.current_move_out_resident[0].apartment.asset_property.name unless contactObj.residents.current_move_out_resident[0].blank?
			
			bedName = contactObj.residents.current_move_out_resident[0].bed.asset_property.name unless contactObj.residents.current_move_out_resident[0].bed.blank?
			
			moveInDate = contactObj.residents.current_move_out_resident[0].move_in_date unless contactObj.residents.current_move_out_resident[0].blank?
			
			moveOutDate = nil unless contactObj.residents.current_move_out_resident[0].blank?
			
			unless @resObj.blank?
				apartmentName = @resObj.apartment.asset_property.name unless @resObj.apartment.blank?
				bedName = @resObj.bed.asset_property.name unless @resObj.bed.blank?
				moveInDate = @resObj.move_in_date
				moveOutDate = @resObj.move_out_date
				
			end
		%>
		<table>
			<tr>
				<th align="left"><%= l(:label_apartment) %></th>
				<td align="left" style="padding-left:40px;">
					<%= apartmentName %>
				</td>
				<th align="left"><%= l(:label_move_in_date) %></th>
				<td align="left" >
					<%= moveInDate.strftime('%F') %>
				</td>
				<td style="float:right;">
					<%= link_to l(:label_transfer), url_for(:controller => "rmresident", :action => "movein", :tab => "rmresident", :lead_id => nil, :contact_id => contactObj.id, :resident_id => contactObj.residents.current_move_out_resident[0].id, :res_action => "T"),  :class=> "buttons", :style=> "padding-left:40px;  margin-top:220px;" %>
				</td>
				<td>
				<%= link_to l(:label_move_out), url_for(:controller => "rmresident", :action => "movein", :tab => "rmresident", :lead_id => nil, :contact_id => contactObj.id, :resident_id => contactObj.residents.current_move_out_resident[0].id, :res_action => "MO"),  :class=> "buttons", :style=> "padding-left:40px;  margin-top:220px;" %>
				</td>
			</tr>
			<tr>
			<% unless contactObj.residents.current_move_out_resident[0].bed.blank? %>
			
				<th align="left"><%= l(:label_bed) %></th>
				<td align="left" style="padding-left:40px;"><%= bedName  %></td>
			<% else %>
				<th align="left"></th>
				<td align="left" style="padding-left:40px;"></td>
			<% end %>
			<% unless moveOutDate.blank?  %>
				<th align="left"><%= l(:field_move_out_date) %></th>
				<td align="left"><%= moveOutDate.strftime('%F')  %></td>
			<% end %>
			</tr>
		</table>
		
	</fieldset>
	</div>
	<div style="clear:both;"></div>

	<% end %>
<% else %>
	<%
		wktime_helper = Object.new.extend(WktimeHelper)
		host_with_subdir = wktime_helper.getHostAndDir(request)
	%>
	<div style="float:left;">
	<input type="button"  value="<%= l(:button_move_in) %>" onclick="window.location.href='<%= url_for(:controller => "rmresident", :action => "movein", :host => host_with_subdir, :only_path => true, :tab => "rmresident", :lead_id => nil, :contact_id =>contactObj.id, :res_action => "MI")  %>'" />
	</div>
<% end %>

<% end %>