<%= stylesheet_link_tag 'wk-time', :plugin => "redmine_wktime" %>
<div class="autoscroll">
	<table class="list time-entries">
		<thead>
			<tr>
				<th class="lbl-txt-align"><%=  l(:field_name) %></th>
				<th class="lbl-txt-align"><%= l(:label_location) %></th>
				<th class="lbl-txt-align"><%= l(:label_apartment) %></th>
				<th class="lbl-txt-align"><%= l(:label_bed) %></th>
				<th class="lbl-txt-align"><%= l(:label_move_in_date) %></th>
				<th class="lbl-txt-align"><%= l(:label_move_out_date) %></th>				
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @resident_entries.each do |entry| %>
				<tr>
					  <td class="lbl-txt-align"><%=h entry.resident.last_name %></td>
					  <td class="lbl-txt-align"><%=h "" %></td>
					  <td class="lbl-txt-align"><%=h entry.apartment.blank? ? "" : entry.apartment.asset_property.name  %></td>
					  <td class="lbl-txt-align"><%=h entry.bed.blank? ? "" : entry.bed.asset_property.name %></td>
					  <td class="lbl-txt-align"><%=h entry.move_in_date %></td>
					  <td class="lbl-txt-align"><%=h entry.move_out_date %></td>
					  <td align="center">
						  <%= link_to image_tag('edit.png'), {:controller => 'wkcrmcontact', :action => 'edit', :contact_id => entry.resident_id}, :title => l(:button_edit) %> 
							<%= link_to image_tag('delete.png'), {:controller => controller.controller_name, :action => 'destroy', :contact_id => entry.resident.id, :tab => controller.controller_name},  :data => {:confirm => l(:text_are_you_sure)}, :method => :delete, :title => l(:button_delete) %>
					  </td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>