<%	locationId = session[controller_name][:location_id]	
    residentName = session[controller_name][:resident_name]	
	#isFarmerResident = session[controller_name][:farmer_resident]
	moveInOutId = session[controller_name][:moveinout_id]
%>
<%= form_tag({:controller => controller_name, :action => 'index'}, :method => :get, :id => 'query_form') do %>
<%= hidden_field_tag "searchlist", controller_name %>
<%= hidden_field_tag "tab", controller_name %>
<div>
<fieldset>
	<table>
		<tr>
			<th align="left"><%= l(:label_location) %></th>
			<td align="left">
				<%=h select_tag("location_id", generic_options_for_select(WkLocation, nil, 'name', 'name', 'id', locationId, true)) %>
			</td>
			<th align="left"><%= l(:field_name)  %></th>
			<td align="left""><%= text_field_tag 'resident_name', residentName.blank? ? "" : residentName, :size => 30, :style=> "float: left;" %>
			</td>
			<th align="left"><%= l(:field_status) %></th>
			<td align="left">
				<%=h select_tag("moveinout_id",options_for_select(moveInOutHash.invert, :selected => moveInOutId)) %>
			</td>
		</tr>
		
	</table>
	<%= render :partial => 'rmresident/date_range' %>

	<p class="buttons">
		<%= link_to_function l(:button_apply), '$("#query_form").submit(); return false;', :class => 'icon icon-checked' %>
		<%#= link_to l(:button_apply), {:controller => controller_name, :action => action_name}, :class => 'icon icon-checked' %>
	  <%= link_to l(:button_clear), {:controller => controller_name, :action => action_name, :tab => 'clock'}, :class => 'icon icon-reload' %>
	 
	</p>
</fieldset>
</div>
<% end %>
 

