<%= javascript_include_tag 'index', :plugin => "erpmine_resident" %>
<h2><%= l(:label_resident) %></h2>
<script type="text/javascript"> 
    apartmentUrl = '<%=url_for(:controller => "rmapartment", :action => "index", :tab => "rmapartment")%>';     
    residentUrl = '<%=url_for(:controller => "rmresident", :action => "index", :tab => "rmresident")%>';
	performserviceUrl = '<%=url_for(:controller => "rmperformservice", :action => "index", :tab => "rmperformservice")%>';	
</script>
<%= render_tabs resident_tabs %>
<%= hidden_field_tag 'back_url', url_for(params) %>

<br/>
<br/>
<%= render :partial => 'rmresident/rmresident_index' %>

<% if @query.valid? %>
	<% if @entries.empty? %>
		<p class="nodata"><%= l(:label_no_data) %></p>
	<% else %>
		<%= render :partial => 'rmresident/resident_list', :locals => { :entries => @entries }%>
		<span class="pagination"><%= pagination_links_full @entry_pages, @entry_count %></span>

		<% other_formats_links do |f| %>
		  <%= f.link_to_with_query_parameters 'Atom', :key => User.current.rss_key %>
		  <%= f.link_to_with_query_parameters 'CSV', {}, :onclick => "showModal('csv-export-options', '330px'); return false;" %>
		<% end %>
<div id="csv-export-options" style="display:none;">
  <h3 class="title"><%= l(:label_export_options, :export_format => 'CSV') %></h3>
  <%= form_tag(_time_entries_path(@project, nil, :format => 'csv'), :method => :get, :id => 'csv-export-form') do %>
  <%= query_as_hidden_field_tags @query %>
  <p>
    <label><%= radio_button_tag 'c[]', '', true %> <%= l(:description_selected_columns) %></label><br />
    <label><%= radio_button_tag 'c[]', 'all_inline' %> <%= l(:description_all_columns) %></label>
  </p>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
  <% end %>
</div>
<% end %>
<% end %>

<%#= render :partial => 'rmresident/resident_list' %>